<ul id="Nav">
   <li><a href="/adm/dashboard"><img src="/NIta.png" id="logo" alt="Logo do Restaurante Tani"></a></li>
     <li><a class="N_principal" href="/cardapio/gerenciar">Gerenciar Produtos</a></li>
     <li><a class="N_principal" href="/cardapio/pedidos/gerenciar">Gerenciar Pedidos</a></li>
     <li><a class="N_principal"href="/adm/dashboard/new">Adicionar novo adm</a></li>
     <li><a class="N_principal" href="/adm/logout">sair</a></li>
</ul>