<ul id="Nav">
    <li><a href="/"><img src="/NIta.png" id="logo" alt="Logo do Restaurante Tani"></a></li>
    <li><a class="N_principal" href="/cardapio">Cardapio</a></li>
     <li><a href="/logintela"><img src="/IconeLogin.png" alt="Endereço para login" width="10%"></a></li>
</ul>