<ul id="Nav">
 <li><a href="/user/dashboard"><img src="/NIta.png" id="logo" alt="Logo do Restaurante Tani"></a></li>
    <li><a class="N_principal" href="/cardapio/CardapioUser">Cardapio</a></li>
     <li><a class="N_principal" href="/reserva/new">Reserva</a></li>
     <li><a class="N_principal" href="/user/logout">sair</a></li>
</ul>