<div id="Administrador">

    <form action="add" method="post">
       <h2>Cadastro: </h2>
        <label for="name">Nome:</label>
        <input type="text" name="name" placeholder="Insira seu nome aqui!">
        <br>
        <label for="password">Senha:</label>
        <input type="password" name="password" placeholder="Insira sua senha aqui!">
        <input type="submit">
    </form>
</div>