<h1>Cardapio</h1>

{{#if cardapio}}
    <table style="border: 4px dotted rgba(0, 0, 0, 0.918);">
        <thead>
            <tr>
                <th>Tipo</th>
                <th>Nome</th>
                <th>Preço</th>
            </tr>
        </thead>
        <tbody>
            {{#each cardapio}}
            <tr>
                <td>{{tipo}}</td>
                <td>{{produto}}</td>
                <td>R$: {{preço}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
    <p>Nenhum produto cadastrado.</p>
{{/if}}