<form action="/fale/add" method="post">
    <fieldset>
        <legend>Fale Conosco:</legend>

        <label for="name">Nome:</label>
        <input type="text" name="nome" placeholder="Insira seu nome!"><br><br>
   
        <label for="email">Email:</label>
        <input type="text" name="email" placeholder="Insira seu email!"><br><br>

        <label for="comentario">Comentario:</label>
        <input type="text" name="comentario" placeholder="Insira seu comentario!"><br><br>

        <input type="submit"><input type="reset">
    </fieldset>
</form>