<div id="Usuario">

    <form action="/user/auth" method="POST">
        <h2>Login: </h2>
        <label for="nome">Nome:</label>
        <input type="text" name="nome" placeholder="Insira seu nome aqui!">
        <br>
        <label for="senha">Senha:</label>
        <input type="password" name="senha" placeholder="Insira sua senha aqui!">
        <input type="submit" value="Entrar"><br><br><p>Não possui uma conta? Deseja <a href="/user/new">Criar uma</a>?</p>
    </form>

</div>