<div id="telalogin">
  <h1>Qual será a forma de login?</h1>

  <div class="opcoes-login">
    <a href="/adm" class="botao">Admin</a>
    <a href="/user" class="botao">User</a>
  </div>
</div>
