<h1>Bem vindo a pagina principal do restaurante Nita!</h1>
<h3>Aqui, fazemos os melhores dos mais diversos pratos do Mundo!</h3>
<h3>Só come quem é rico, mas tem pastel e hamburguer para outras pessoas...</h3>
<p>Horario de funcionamento: 12:00-21:00 de segunda a sexta. Endereço: Av.Alphaville 1089</p>
<img src="lagosta.png" alt="" width="40%">
<img src="Hamburguer.png" alt=""width="41.90%">
<img src="Pastel.png" alt="" width="40%">
<img src="Caviar.png" alt=""width="50%">
<h3>Obrigado pela sua atenção!!</h3><br><br>
<h4>Autores:</h4>
<ul>
    <li> Tauany Leobeski Lopes;</li><br>
    <li> Nicolas Paulino de Souza.</li>
</ul>
