<div id="Usuario">

    <form action="/user/add" method="post">
        <h2>Cadastro: </h2>
        <label for="nome">Nome:</label>
        <input type="text" name="nome" placeholder="Insira seu nome aqui!">
        <br>
        <label for="senha">Senha:</label>
        <input type="password" name="senha" placeholder="Insira sua senha aqui!">
        <input type="submit">
    </form>

</div>